/*input输入框*/
.ivu-input {
  background-color: transparent;
  border-color: var(--border-color-def);
  color: var(--text-color-def);
}
.ivu-input::placeholder{
  color: var(--text-color-placeholder);
}
.ivu-form .ivu-form-item-label{
  color: var(--text-color-def);
}
.ivu-input-word-count{
  background-color: transparent;
}

/*卡片*/
.ivu-card {
  background-color: var(--bg-color-card);
  color: var(--text-color-def);
}
.ivu-card-bordered,
.ivu-card-head{
  border-color: var(--border-color-def);

}
.ivu-card-head p{
  color: var(--text-color-def);
}

/*确认提示框*/
.ivu-modal-content{
  background-color: var(--bg-color-card);
}
.ivu-modal-confirm-head-title,
.ivu-modal-header p, .ivu-modal-header-inner{
  color: var(--text-color-def);
}
.ivu-modal-header,
.ivu-modal-footer{
  border-color: var(--border-color-def);
}


/*文本按钮*/
.ivu-btn-default {
  background-color: transparent;
  border-color: var(--border-color-def);
}
.ivu-btn-text,
.ivu-btn-error,
.ivu-btn-info,
.ivu-btn-success,
.ivu-btn-warning,
.ivu-btn-primary,
.ivu-btn-default {
  color: var(--text-color-def);
}
.ivu-btn-text:hover,
.ivu-btn-default:hover{
  background-color: var(--bg-color-content);
}

/*表格样式*/
.ivu-table,
.ivu-table::before{
  background-color: var(--bg-color-content);
  border-color: var(--border-color-def);
}
.ivu-table-wrapper-with-border{
  border-color: var(--border-color-def);
}

.ivu-table::before,
.ivu-table-border:after{
  background-color: var(--border-color-def);
}

.ivu-table th,
.ivu-table td{
  background-color: var(--bg-color-card);
  border-color: var(--border-color-def);
  color: var(--text-color-def);
}
.ivu-table td{
  background-color: var(--bg-color-content);
}
tr.ivu-table-row-hover td,
tr.ivu-table-row-hover td,
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,
.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td{
  background-color: var(--bg-color-card);
}

.ivu-table-wrapper-with-border>.ivu-spin-fix{
  background-color: rgba(13,17,23, .8);
  border-color: var(--border-color-def);
}

/*提示消息message*/
.ivu-message-notice-content{
  color: var(--text-color-def);
  border-width: 1px;
  border-style: solid;
}
.ivu-message-notice-content-success{
  background: var(--bg-color-success);
  border:1px solid var(--border-color-success);
}
.ivu-message-notice-content-error{
  background: var(--bg-color-error);
  border:1px solid var(--border-color-error);
}
.ivu-message-notice-content-info{
  background: var(--bg-color-info);
  border:1px solid var(--border-color-info);
}
.ivu-message-notice-content-warning{
  background: var(--bg-color-warning);
  border:1px solid var(--border-color-warning);
}

/*菜单栏*/
.ivu-menu-light,
.ivu-menu-vertical.ivu-menu-light:after
{
  background: var(--bg-color-card);
  color: var(--text-color-def);
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  background: var(--bg-color-active);
  color: var(--text-color-fff);
}
.ivu-menu{
  color: var(--text-color-def);
}

/*气泡提示*/
.ivu-poptip-inner{
  background-color: var(--bg-color-card);
}
.ivu-poptip-arrow,
.ivu-poptip-popper[x-placement^=bottom] .ivu-poptip-arrow,
.ivu-poptip-popper[x-placement^=bottom] .ivu-poptip-arrow:after {
  border-bottom-color: var(--bg-color-card);
}

/*上传*/
.ivu-upload-drag{
  background-color: var(--bg-color-content);
  border-color: var(--border-color-def);
}



